<header>
    <a>BewegungsWerk</a>
    <a class="header-number">Tel : 030 88 72 46 54</a>
</header>
<div class="hero">
    <div class="background bg-1"></div>
    <div class="background bg-2"></div>
    <div class="background bg-3"></div>
    <div class="arrow"><span class="arrow-border"></span></div>
</div>
<nav>
    <a href="#home">Wilkommen</a>
    <a href="#team">Team</a>
    <a href="#therapien">Therapien</a>
    <a href="#partner">Partner</a>
    <a href="#news">News</a>
    <a href="#kontakt">Kontakt</a>
</nav>
