<div id="kontakt">
    <h2>Kontakt</h2>
    <div class="kontakt-text-container">
        <div class="kontakt-text">
            <p>Sie möchten gerne einen Termin vereinbaren oder sich weiter informieren?<br>
            Rufen Sie uns einfach an von Mo - Fr: &nbsp;8 - 15 Uhr unter:</p>
            <a href="tel:+4903088724654"><img class="phone-icon" src="assets/img/phone.png">(030) 88 72 46 54</a>
        </div>
    </div>
    <div class="kontakt-info-row">
        <div class="kontakt-info">
            <h3>Bewegungswerk</h3>
            <p><a class="kontakt-address">Polikum 3. OG<br>Marburger Stra&szlig;e 12-13 &middot; 10789 Berlin</a><br><br>
                Tel: &nbsp;&nbsp;&nbsp;<a href="tel:+4903088724654">(030) 88 72 46 54</a><br>
                Fax: &nbsp;&nbsp;<a class="fax-number">(030) 88 72 46 54</a><br><br>
                E-mail: &nbsp;&nbsp;<a href="mailto:physio-physical@gmx.de">physio-physical@gmx.de</a>
            </p>
            <h3>&Ouml;ffnungszeiten</h3>
            <p>Mo - Fr: &nbsp;&nbsp;8 - 20 Uhr<br>Sa - So: &nbsp;&nbsp;Nach Vereinbarung</p>
        </div>
        <div class="kontakt-info">
            <h3>Anfahrt</h3>
            <p>Unsere hochwertig ausgestatete Praxis liegt im Herzen von Berlin, in der 3 Etage des Polikums Berlin-Charlottenburg. Nahegelegene öffentliche Verkehrsmittel sind die U-Bahn Station Augsburger Straße, die U-Bahn Station Kurfürstendamm oder der S-U Bahnhof Zoologischer Garten.<br><br>Ihr Auto können Sie auf einen der nahegelgenen öffentlichen Prakplätzen oder im Parkhaus unter dem Los Angeles Platz abstellen.</p>
        </div>
    </div>
    <div class="map-container">
        <div id="map"></div>
        <script src="assets/js/googlemapsinit.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyvha5ivztYmjzf3vGCkWQtGmc6z3KsOA&callback=initMap"></script>
    </div>
    <div class="kontakt-facebook-link-container">
        <a class="kontakt-facebook-link" href="https://www.facebook.com/BewegungswerkBerlin/" target="_blank">
        	<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 455.73 455.73" style="enable-background:new 0 0 455.73 455.73;" xml:space="preserve">
        		<path d="M0,0v455.73h242.704V279.691h-59.33v-71.864h59.33v-60.353c0-43.893,35.582-79.475,79.475-79.475
        		h62.025v64.622h-44.382c-13.947,0-25.254,11.307-25.254,25.254v49.953h68.521l-9.47,71.864h-59.051V455.73H455.73V0H0z"/>
        	</svg>
        </a>
    </div>
</div>
