<div id="news">
    <h2>News</h2>
    <div class="news-container">
        <div class="news-row">
            <div class="news-image"></div>
            <div class="news-article">
                <h4>23.11.2017</h4>
                <h3>Title of the article</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat non orci dictum euismod quis id lorem. Maecenas eu dictum elit. Aliquam erat volutpat. Aliquam erat volutpat. Suspendisse eu ligula et ligula vehicula viverra eu eget elit. Phasellus laoreet commodo leo, id vulputate tellus iaculis eu. Suspendisse potenti. Ut blandit, nibh id tincidunt faucibus, lacus quam tempus purus, nec ornare nibh nisl ac nulla.<br><br>Phasellus ultricies mi vitae turpis faucibus convallis. Cras hendrerit est at neque vehicula, eget maximus nulla maximus. Mauris porttitor velit a pulvinar tristique. Curabitur fringilla leo ut feugiat congue. Aliquam sollicitudin feugiat malesuada. Cras viverra euismod risus et lobortis.</p>
            </div>
        </div>
        <div class="news-row">
            <div class="news-article">
                <h4>23.11.2017</h4>
                <h3>Title of the article</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat non orci dictum euismod quis id lorem. Maecenas eu dictum elit. Aliquam erat volutpat. Aliquam erat volutpat. Suspendisse eu ligula et ligula vehicula viverra eu eget elit. Phasellus laoreet commodo leo, id vulputate tellus iaculis eu. Suspendisse potenti. Ut blandit, nibh id tincidunt faucibus, lacus quam tempus purus, nec ornare nibh nisl ac nulla.<br><br>Phasellus ultricies mi vitae turpis faucibus convallis. Cras hendrerit est at neque vehicula, eget maximus nulla maximus. Mauris porttitor velit a pulvinar tristique. Curabitur fringilla leo ut feugiat congue. Aliquam sollicitudin feugiat malesuada. Cras viverra euismod risus et lobortis.</p>
            </div>
            <div class="news-image news-image2"></div>
        </div>
        <a class="news-facebook-link" href="https://www.facebook.com/BewegungswerkBerlin/" target="_blank">Mehr erfahren auf unsere<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 455.73 455.73" style="enable-background:new 0 0 455.73 455.73;" xml:space="preserve">
    		<path d="M0,0v455.73h242.704V279.691h-59.33v-71.864h59.33v-60.353c0-43.893,35.582-79.475,79.475-79.475
    		h62.025v64.622h-44.382c-13.947,0-25.254,11.307-25.254,25.254v49.953h68.521l-9.47,71.864h-59.051V455.73H455.73V0H0z"/>
    	</svg></a>
    </div>
</div>
