<div id="team">
    <h2>Team</h2>
    <div class="team-row">
        <div class="team-member">
            <img class="portrait" src="assets/img/bewegungswerkphotos/2018-02-19-PHOTO-00000123.jpg">
            <div class="team-member-bio">
                <h3>Martin Miegel</h3>
                <h4>Fachlicher Leiter / Inhaber</h4>
                <p>Betreuter Verein :</p>
                <p><span>SV Babelsberg 03</span></p>
            </div>
        </div>
        <div class="team-member">
            <img class="portrait" src="assets/img/bewegungswerkphotos/2018-02-19-PHOTO-00000123.jpg">
            <div class="team-member-bio">
                <h3>Adrian Marklowski</h3>
                <h4>Geschaftsfuhrer / Inhaber</h4>
                <p>Betreuter Verein :</p>
                <p><span>BFC Dynamo</span></p>
            </div>
        </div>
        <div class="team-member">
            <img class="portrait" src="assets/img/bewegungswerkphotos/2018-02-19-PHOTO-00000123.jpg">
            <div class="team-member-bio">
                <h3>Franziska Kelm</h3>
                <h4>Physiotherapeutin / Sportphysio</h4>
                <p>Betreuter Verein :</p>
                <p><span>FSV Union Furstenwalde</span></p>
            </div>
        </div>
    </div>
    <div class="team-row">
        <div class="team-member">
            <img class="portrait" src="assets/img/bewegungswerkphotos/2018-02-19-PHOTO-00000123.jpg">
            <div class="team-member-bio">
                <h3>Yannic Alsdorf</h3>
                <h4>Physiotherapeut / Sportwissenschaftler i. A</h4>
                <p>Betreuter Verein :</p>
                <p><span>SpVgg Blau-Weiss 1890 Berlin</span></p>
            </div>
        </div>
        <div class="team-member">
            <img class="portrait" src="assets/img/bewegungswerkphotos/2018-02-19-PHOTO-00000123.jpg">
            <div class="team-member-bio">
                <h3>Maria-Pia Zander-Zeidam</h3>
                <h4>Physiotherapeutin</h4>
                <p>Betreuter Verein :</p>
                <p><span>VSG Altglienicke</span></p>
            </div>
        </div>
        <div class="team-member">
            <img class="portrait" src="assets/img/bewegungswerkphotos/2018-02-19-PHOTO-00000123.jpg">
            <div class="team-member-bio">
                <h3>Karina Marklowski</h3>
                <h4>Anmeldung / Praxismanagement</h4>
            </div>
        </div>
    </div>
</div>
