<div id="team">
    <h2>Team</h2>
    <div class="team-row">
        <div class="team-member">
            <img class="portrait" src="assets/img/portraits/portrait1.jpg">
            <div class="team-member-bio">
                <h3>Matthias Meyer</h3>
                <h4>Physiotherapeut / Inhaber</h4>
                <p><strong>Zusatzqualifikationen :</strong></p>
                <ul>
                    <li><span>Manuelle Lymphdrainage</span></li>
                    <li><span>PNF</span></li>
                    <li><span>Manuelle Therapie</span></li>
                    <li><span>Kinesio-Tape</span></li>
                    <li><span>KG-Gerät</span></li>
                </ul>
            </div>
        </div>
        <div class="team-member">
            <img class="portrait" src="assets/img/portraits/portrait2.jpg">
            <div class="team-member-bio">
                <h3>Annika Schulz</h3>
                <h4>Physiotherapeutin</h4>
                <p><strong>Zusatzqualifikationen :</strong></p>
                <ul>
                    <li><span>Manuelle Lymphdrainage</span></li>
                    <li><span>Manuelle Therapie</span></li>
                    <li><span>Kiefergelenkbehandlung</span></li>
                    <li><span>Cranio-Sacrale-Therapie</span></li>
                    <li><span>Bobath für Erwachsene</span></li>
                </ul>
            </div>
        </div>
        <div class="team-member">
            <img class="portrait" src="assets/img/portraits/portrait3.jpg">
            <div class="team-member-bio">
                <h3>Tim Schwarz</h3>
                <h4>Physiotherapeut</h4>
                <p><strong>Zusatzqualifikationen :</strong></p>
                <ul>
                    <li><span>Bobath für Erwachsene</span></li>
                    <li><span>Mc Kenzie</span></li>
                    <li><span>Brügger</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="team-row">
        <div class="team-member">
            <img class="portrait" src="assets/img/portraits/portrait4.jpg">
            <div class="team-member-bio">
                <h3>Helena Braun</h3>
                <h4>Physiotherapeutin</h4>
                <p><strong>Zusatzqualifikationen :</strong></p>
                <ul>
                    <li><span>Bobath für Erwachsene</span></li>
                    <li><span>Kinesio-Tape</span></li>
                    <li><span>Kiefergelenkbehandlung</span></li>
                    <li><span>Manuelle Lymphdrainage</span></li>
                </ul>
            </div>
        </div>
        <div class="team-member">
            <img class="portrait" src="assets/img/portraits/portrait5.jpg">
            <div class="team-member-bio">
                <h3>Jan Jansen</h3>
                <h4>Physiotherapeut</h4>
                <p><strong>Zusatzqualifikationen :</strong></p>
                <ul>
                    <li><span>Manuelle Lymphdrainage</span></li>
                    <li><span>Manuelle Therapie</span></li>
                    <li><span>Kiefergelenkbehandlung</span></li>
                    <li><span>Cranio-Sacrale-Therapie</span></li>
                    <li><span>Bobath für Erwachsene</span></li>
                </ul>
            </div>
        </div>
        <div class="team-member">
            <img class="portrait" src="assets/img/portraits/portrait6.jpg">
            <div class="team-member-bio">
                <h3>Michelle Montag</h3>
                <h4>Rezeptionistin</h4>
            </div>
        </div>
    </div>
</div>
