<div id="therapien">
    <h2>Therapien</h2>
    <div class="therapien-grid-container">
        <div class="therapien-grid">
            <div  class="therapien-row">
                <div class="therapien-div therapien-div-bg1">
                    <h3>Krankengymnastik</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg1">
                        <button class="close-info">X</button>
                        <h3>Krankengymnastik</h3>
                        <p>Die Krankengymnastik umfasst eine große Auswahl einzelner therapeutischer Maßnahmen zur Erhaltung und Verbesserung von Kraft, Ausdauer und Koordination.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg2">
                    <h3>Manuelle Therapie</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg2">
                        <button class="close-info">X</button>
                        <h3>Manuelle Therapie</h3>
                        <p>Während es bei der Krankengymnastik bereits um die gezielte Bewegungsförderung und Kräftigung geht, setzt die manuelle Therapie einen Schritt zuvor an, nämlich bei der Ursache des Schmerzes und der Bewegungseinschränkung.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg3">
                    <h3>Kiefergelenksbehandlung</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg3">
                        <button class="close-info">X</button>
                        <h3>Kiefergelenksbehandlung</h3>
                        <p>Kraniomandibuläre Dysfunktion (CMD) ist ein Überbegriff für strukturelle, funktionelle und psychische Fehlregulationen der Muskel- oder Gelenkfunktion der Kiefergelenke.</p>
                    </div>
                </div>
            </div>
            <div  class="therapien-row">
                <div class="therapien-div therapien-div-bg4">
                    <h3>Kinesio / Medical Taping</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg4">
                        <button class="close-info">X</button>
                        <h3>Kinesio / Medical Taping</h3>
                        <p>Die Behandlung erfolgt durch das Aufbringen von etwa fünf Zentimeter breiten, elastischen Klebebändern auf Baumwollbasis direkt auf die Haut.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg5">
                    <h3>Hot Stone Massage</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg5">
                        <button class="close-info">X</button>
                        <h3>Hot Stone Massage</h3>
                        <p>Die Hot Stone Massage ist eine Massageform in Kombination mit aufgeheizten Steinen, meist aus Basalt, die auf den Körper gelegt werden.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg1">
                    <h3>Osteopathie</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg1">
                        <button class="close-info">X</button>
                        <h3>Osteopathie</h3>
                        <p>Bei Behandlungen nach osteopathischem Konzept werden Krankheiten und Spannungen mit den Fingern ertastet und behandelt. Einziges Behandlungsinstrument des Therapeuten sind seine Hände - keine Medikamente, keine Geräte und kein Skalpell.</p>
                    </div>
                </div>
            </div>
            <div  class="therapien-row">
                <div class="therapien-div therapien-div-bg2">
                    <h3>Lymphdrainage</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg2">
                        <button class="close-info">X</button>
                        <h3>Lymphdrainage</h3>
                        <p>Die manuelle Lymphdrainage ist eine Form der physikalischen Therapien. Ihre Anwendungsgebiete sind breit gefächert.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg3">
                    <h3>PNF</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg3">
                        <button class="close-info">X</button>
                        <h3>PNF</h3>
                        <p>Propriozeptoren sind Rezeptoren / Sensoren in Muskeln, Gelenken, und Sehnen für die Tiefensensibilität, die Informationen über die Haltung und Bewegung des Körpers an das Zentrale Nervensystem weiterleiten.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg4">
                    <h3>Bobath</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg4">
                        <button class="close-info">X</button>
                        <h3>Bobath</h3>
                        <p>Das Bobath-Konzept ist ein Pflege- und Therapiekonzept für Patienten mit Lähmungen durch Krankheiten des zentralen Nervensystems.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
