<div id="therapien">
    <h2>Therapien</h2>
    <div class="therapien-slideshow-container">
        <div class="therapien-slideshow">
            <div class="therapien-slide therapien-div-bg1">
                <h3>Manuelle Therapie</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg1">
                    <button class="close-info">X</button>
                    <h3>Manuelle Therapie</h3>
                    <p>Die Manuelle Therapie ist ein Behandlungsansatz mit dem Ziel der Wiederhellstellung des Zusammenspiels zwischen Gelenken, Muskeln und Nerven. Funktionsstörungen des Bewegungsapparates werden dafür untersucht und mit speziellen Handgriff- und Mobilisationstechniken behandelt. Diese wirken schmerzlindernd und beheben Bewegungsstörungen.</p>
                    <p>Die Therapie umfasst eine ausführliche Befunderhebung durch die Prüfung der Muskelfunktion, der Gelenkmechanik und der Koordination des Bewegungsapparats. Auf diese Ergebnisse aufbauend wird für jeden Patienten ein individueller Behandlungsplan aufgestellt.</p>
                    <p>Die Behandlung selbst beinhaltet passive Techniken, aber auch aktive Übungen. So werden beispielsweise blockierte oder eingeschränkte Gelenke mithilfe behutsamer Techniken mobilisiert (passiv) oder instabile Gelenke durch spezifische Übungen stabilisiert (aktiv).</p>
                    <p>Einsetzbar ist die Manuelle Therapie im Bereich reversibler Einschränkungen des Bewegungsapparats. Solche Bewegungseinschränkungen können an jedem Gelenk des Körpers auftreten und entstehen u.a. durch Bewegungsmangel, durch Ruhigstellungen oder Operationen.
                    </p>
                    <p>Ein Manualtherapeut kann so folgende Beschwerden behandeln:</p>
                    <ul>
                        <li>Einschränkungen des Bewegungsvermögens</li>
                        <li>Gelenkblockierung</li>
                        <ul>
                            <li>Nach Entzündungen von Gelenken</li>
                            <li>Nach Operationen</li>
                            <li>Nach Ruhigstellung</li>
                        </ul>
                        <li>Instabile Gelenke</li>
                        <li>Migräne / Kopfschmerz</li>
                        <li>Schwindel</li>
                        <li>Kiefergelenksprobleme</li>
                        <li>Arthrose</li>
                    </ul>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg2">
                <h3>Krankengymnastik</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg2">
                    <button class="close-info">X</button>
                    <h3>Krankengymnastik</h3>
                    <p>Die Krankengymnastik therapiert Krankheiten aus fast allen medizinischen Fachbereichen. Ziel der Krankengymnastik ist die Verbesserung der Bewegungs- und Funktionsfähigkeit des Körpers, wie die Erhaltung und der Aufbau von Kraft, Ausdauer und Koordination. Kreislauffunktionen zu verbessern und Schmerzlinderung sind ebenfalls Aufgabe der Krankengymnastik.</p>
                    <p>Der Behandlungsansatz umfasst sowohl aktive als auch passive Therapieformen. Auch Anleitungen für Übungen, die der Patient zu Hause unterstützend fortführen kann, gehören zur Krankengymnastik.</p>
                    <p>Dem Physiotherapeuten stehen entsprechend der Beschwerden folgende Behandlungsmöglichkeiten zur Verfügung:</p>
                    <ul>
                        <li>Aktive, funktionelle Übungen zur Förderung der Beweglichkeit</li>
                        <ul>
                            <li>Kräftigende Übungen zur Verbesserung der Haltung und Koordination</li>
                            <li>Entspannende Übungen für verspannte Muskeln</li>
                            <li>Atemübungen bei Atemwegserkrankungen</li>
                        </ul>
                        <li>Passive Mobilisation zur Behandlung von Schmerzen und Versteifungen</li>
                    </ul>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg3">
                <h3>PNF-Therapie</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg3">
                    <button class="close-info">X</button>
                    <h3>PNF-Therapie</h3>
                    <p>Die Abkürzung PNF steht für „Propriozeptive Neuromuskuläre Fazilitation“. Sie unterscheidet sich von anderen Übungsbehandlungen, indem die Drehungen der Bewegungen gezielt herausgestellt werden.</p>
                    <p>Zu Beginn der PNF-Behandlung wird ausführlich ein Befund gestellt. Daraufhin bespricht der Patient mit seinem Therapeuten, welche körperlichen Fähigkeiten verbessert werden sollen. Dabei wird besonders auf die jeweiligen Ressourcen des Patienten geachtet. Sie dienen als Ausgangspunkt für die weitere Behandlung, die gezielt zur Verbesserung der Bewegungs- und Haltungskontrolle eingesetzt wird.  PNF-Therapeuten kennen die motorischen Zusammenhänge des Körpers und nutzen so die Fähigkeiten des Patienten zur Erreichung des Therapieerfolgs.</p>
                    <p>Patienten mit Störungen des Bewegungs- oder Stützapparates können mit der PNF-Therapie ihre Sicherheit und Selbständigkeit verbessern. PNF verbessert die Steuerung der Körperhaltung und Bewegung, bewusst und unbewusst, und trägt zur Schmerzlinderung bei. Auch bei schweren Erkrankungen oder Verletzungen kommt PNF zum Einsatz: PNF verbessert lebenserhaltende Funktionen wie die Atmung, das Essen und Schlucken.</p>
                    <p>Eine PNF-Therapie wird u.a. angewandt bei:</p>
                    <ul>
                        <li>Rückenschmerz</li>
                        <li>Sportunfällen</li>
                        <li>Schlaganfällen</li>
                        <li>Gelenkoperationen </li>
                        <li>Schädel-Hirn-Trauma</li>
                        <li>Querschnittslähmung</li>
                        <li>Multipler Sklerose</li>
                        <li>Morbus Parkinson</li>
                        <li>Gesichts-, Mund- und Schluckbeschwerden</li>
                    </ul>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg4">
                <h3>Sportphysiotherapie</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg4">
                    <button class="close-info">X</button>
                    <h3>Sportphysiotherapie</h3>
                    <p>Einen eigenständigen Fachbereich der Physiotherapie bildet die Sportphysiotherapie. Die Patienten sind Sportler während der Aufbauphase, des Trainings oder in der Regeneration nach Verletzungen oder Operationen.</p>
                    <p>Das Wissen bezüglich Sport und Erkrankungen bzw. Verletzungen verknüpfend kann der Sportphysiotherapeut eine bestmögliche Vorbeugung und Genesung von Verletzungen zu garantieren. Kenntnisse und Analyse der Sportart und des dazugehörigen Trainings weisen dem Therapeuten, welche Belastungen auf die jeweilige Partie wirken. So können Zerrungen, Verstauchungen oder auch Muskelfaserrisse optimal behandelt und das Training des Sportlers bald wiederaufgenommen werden.</p>
                    <p>Wettkampf- oder Spielbetreuung, sowie präventive Behandlung bei vorliegenden Muskel- oder Bänderschwächen gehören ebenso zur Sportphysiotherapie.</p>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg5">
                <h3>Wärme- / Kältetherapie</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg5">
                    <button class="close-info">X</button>
                    <h3>Wärme- / Kältetherapie</h3>
                    <p>Sowohl Wärme- als auch Kälteanwendungen finden in der Physiotherapie bei verschiedenen schmerzlindernden Verfahren ihren Einsatz. Der Einsatz erfolgt lokal oder am ganzen Körper, je nach Schmerzbild. Beide Therapien sind als Unterstützung zu weiteren Behandlungen zu betrachten.</p>
                    <p>Die Wärmetherapie fördert die Durchblutung und entspannend die Muskulatur und das Gewebe. Die Wirkungen sind Schmerzlinderung, Muskelentspannung und eine bessere Durchblutung. Ein Beispiel für eine Wärmetherapie bildet die Wärmepackung aus Fango.</p>
                    <p>Ein ähnliches Wirkungsbild bietet die Kältetherapie. Je nach Temperatur wirkt sie schmerzlindernd, durchblutungsfördernd oder entzündungshemmend. Beispiele sind die Einsetzung von Kühlpacks oder Eis.</p>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg6">
                <h3>Medizinisches Flossing</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg6">
                    <button class="close-info">X</button>
                    <h3>Medizinisches Flossing</h3>
                    <p>Medizinisches Flossing kann unterstützend zu anderen Therapien angewandt werden. Ein stabiles Gummiband wird als fester Druckverband an der jeweils betroffenen Region angesetzt, der ein bis drei Minuten auf der Haut verweilt. Nach Lösen dieser starken Kompression kommt es sofort zu einer starken Durchblutung. In Kombination mit aktiver Bewegung durch den Patienten lösen sich Verklebungen im Gewebe, die Wirkung ist häufig umgehend spürbar.</p>
                    <p>Medizinisches Flossing wird u.a. eingesetzt:</p>
                    <ul>
                        <li>bei Bewegungseinschränkungen der Gelenke</li>
                        <li>bei Gelenkschmerzen</li>
                        <li>bei Muskelschmerzen</li>
                        <li>zur Regeneration</li>
                        <li>bei Störungen im Kapsel-Bandapparat</li>
                    </ul>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg7">
                <h3>Manuelle Lymphdrainage</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg7">
                    <button class="close-info">X</button>
                    <h3>Manuelle Lymphdrainage</h3>
                    <p>Die Manuelle Lymphdrainage hat die Unterstützung der geminderten Pumpfunktion des Lymphgefäßsystems zum Ziel und ist Teil der Entstauungstherapie.</p>
                    <p>An erster Stelle hilft die Manuelle Lymphdrainage beim Abtransport von Flüssigkeiten im Gewebe, meist an Armen oder Beinen. Spezielle Handgriffe, wie kreisende und pumpende Bewegungen, sorgen dafür, dass die angestaute Flüssigkeit zu den zuständigen Lymphknoten geleitet wird. Weitere Bestandteile der manuellen Lymphdrainage sind die Anregung entfernt liegender Lymphknoten und spezielle Atemtechniken, die eine Sogwirkung erzielen können. Die Flüssigkeit fließt aus dem Gewebe, dieses schwillt ab und die Schmerzen werden so gelindert. Außerdem wird das Gewebe gelockert, was positive Auswirkungen auf die Beweglichkeit des Patienten hat.</p>
                    <p>Häufig ist die Manuelle Lymphdrainage Part einer Therapie, die aus zwei Phasen besteht. Die erste Phase beinhaltet dabei beispielsweise die Kompressionstherapie mit Bandagen, die zweite Phase bildet die Manuelle Lymphdrainage, die nach Bedarf angewandt wird, sowie ein maßgefärtigter Kompressionsstrumpf, falls benötigt.</p>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg8">
                <h3>Dynamische Kompressionstherapie</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg8">
                    <button class="close-info">X</button>
                    <h3>Dynamische Kompressionstherapie</h3>
                    <p>Der Lymphomat kann als Werkzeug der Entstauungstherapie eingesetzt werden.</p>
                    <p>Bei der Behandlung mit dem Lymphomat werden Manschetten um die zu behandelnden Region gelegt. Die verschiedenen Luftkammern der Manschetten werden rhythmisch und nacheinander mit Luft gefüllt. Der Druckaufbau beginnt an der am weitesten vom Körper entfernten Luftkammer und nähert sich dann dem Körper an. Wenn alle Kammern gefüllt sind entweicht die Luft aus allen gleichzeitig. Dieser Vorgang dauert ungefähr eine Minute an und wird daraufhin mehrfach wiederholt. Die so bewirkte Wechseldruck-Kompression kann sowohl zur Entstauung von akuten als auch von chronischen Ödemen eingesetzt werden. So kann der Lymphomat die Manuelle Lymphdrainage unterstützen. Als Ersatzbehandlung ist der Lymphomat aber nicht geeignet.</p>
                    <p>Der Lmyphomat kann eingesetzt werden bei:</p>
                    <ul>
                        <li>Lipödemen</li>
                        <li>primären Lymphödemen</li>
                        <li>sekundären Lymphödemen</li>
                        <li>Lip-Lymphödeme</li>
                        <li>Phleb-Lymphödeme</li>
                    </ul>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg8">
                <h3>Elektrotherapie</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg8">
                    <button class="close-info">X</button>
                    <h3>Elektrotherapie</h3>
                    <p>Der Lymphomat kann als Werkzeug der Entstauungstherapie eingesetzt werden.</p>
                    <p>Bei der Behandlung mit dem Lymphomat werden Manschetten um die zu behandelnden Region gelegt. Die verschiedenen Luftkammern der Manschetten werden rhythmisch und nacheinander mit Luft gefüllt. Der Druckaufbau beginnt an der am weitesten vom Körper entfernten Luftkammer und nähert sich dann dem Körper an. Wenn alle Kammern gefüllt sind entweicht die Luft aus allen gleichzeitig. Dieser Vorgang dauert ungefähr eine Minute an und wird daraufhin mehrfach wiederholt. Die so bewirkte Wechseldruck-Kompression kann sowohl zur Entstauung von akuten als auch von chronischen Ödemen eingesetzt werden. So kann der Lymphomat die Manuelle Lymphdrainage unterstützen. Als Ersatzbehandlung ist der Lymphomat aber nicht geeignet.</p>
                    <p>Der Lmyphomat kann eingesetzt werden bei:</p>
                    <ul>
                        <li>Lipödemen</li>
                        <li>primären Lymphödemen</li>
                        <li>sekundären Lymphödemen</li>
                        <li>Lip-Lymphödeme</li>
                        <li>Phleb-Lymphödeme</li>
                    </ul>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg8">
                <h3>Kinesio-Taping</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg8">
                    <button class="close-info">X</button>
                    <h3>Kinesio-Taping</h3>
                    <p>Der Lymphomat kann als Werkzeug der Entstauungstherapie eingesetzt werden.</p>
                    <p>Bei der Behandlung mit dem Lymphomat werden Manschetten um die zu behandelnden Region gelegt. Die verschiedenen Luftkammern der Manschetten werden rhythmisch und nacheinander mit Luft gefüllt. Der Druckaufbau beginnt an der am weitesten vom Körper entfernten Luftkammer und nähert sich dann dem Körper an. Wenn alle Kammern gefüllt sind entweicht die Luft aus allen gleichzeitig. Dieser Vorgang dauert ungefähr eine Minute an und wird daraufhin mehrfach wiederholt. Die so bewirkte Wechseldruck-Kompression kann sowohl zur Entstauung von akuten als auch von chronischen Ödemen eingesetzt werden. So kann der Lymphomat die Manuelle Lymphdrainage unterstützen. Als Ersatzbehandlung ist der Lymphomat aber nicht geeignet.</p>
                    <p>Der Lmyphomat kann eingesetzt werden bei:</p>
                    <ul>
                        <li>Lipödemen</li>
                        <li>primären Lymphödemen</li>
                        <li>sekundären Lymphödemen</li>
                        <li>Lip-Lymphödeme</li>
                        <li>Phleb-Lymphödeme</li>
                    </ul>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg8">
                <h3>Krankengymnastik am Gerat</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg8">
                    <button class="close-info">X</button>
                    <h3>Krankengymnastik am Gerat</h3>
                    <p>Der Lymphomat kann als Werkzeug der Entstauungstherapie eingesetzt werden.</p>
                    <p>Bei der Behandlung mit dem Lymphomat werden Manschetten um die zu behandelnden Region gelegt. Die verschiedenen Luftkammern der Manschetten werden rhythmisch und nacheinander mit Luft gefüllt. Der Druckaufbau beginnt an der am weitesten vom Körper entfernten Luftkammer und nähert sich dann dem Körper an. Wenn alle Kammern gefüllt sind entweicht die Luft aus allen gleichzeitig. Dieser Vorgang dauert ungefähr eine Minute an und wird daraufhin mehrfach wiederholt. Die so bewirkte Wechseldruck-Kompression kann sowohl zur Entstauung von akuten als auch von chronischen Ödemen eingesetzt werden. So kann der Lymphomat die Manuelle Lymphdrainage unterstützen. Als Ersatzbehandlung ist der Lymphomat aber nicht geeignet.</p>
                    <p>Der Lmyphomat kann eingesetzt werden bei:</p>
                    <ul>
                        <li>Lipödemen</li>
                        <li>primären Lymphödemen</li>
                        <li>sekundären Lymphödemen</li>
                        <li>Lip-Lymphödeme</li>
                        <li>Phleb-Lymphödeme</li>
                    </ul>
                </div>
            </div>
            <div class="therapien-slide therapien-div-bg8">
                <h3>Sonstiges</h3>
                <button class="open-info">Mehr erfahren</button>
                <div class="therapien-info therapien-div-bg8">
                    <button class="close-info">X</button>
                    <h3>Sonstiges</h3>
                    <p>Der Lymphomat kann als Werkzeug der Entstauungstherapie eingesetzt werden.</p>
                    <p>Bei der Behandlung mit dem Lymphomat werden Manschetten um die zu behandelnden Region gelegt. Die verschiedenen Luftkammern der Manschetten werden rhythmisch und nacheinander mit Luft gefüllt. Der Druckaufbau beginnt an der am weitesten vom Körper entfernten Luftkammer und nähert sich dann dem Körper an. Wenn alle Kammern gefüllt sind entweicht die Luft aus allen gleichzeitig. Dieser Vorgang dauert ungefähr eine Minute an und wird daraufhin mehrfach wiederholt. Die so bewirkte Wechseldruck-Kompression kann sowohl zur Entstauung von akuten als auch von chronischen Ödemen eingesetzt werden. So kann der Lymphomat die Manuelle Lymphdrainage unterstützen. Als Ersatzbehandlung ist der Lymphomat aber nicht geeignet.</p>
                    <p>Der Lmyphomat kann eingesetzt werden bei:</p>
                    <ul>
                        <li>Lipödemen</li>
                        <li>primären Lymphödemen</li>
                        <li>sekundären Lymphödemen</li>
                        <li>Lip-Lymphödeme</li>
                        <li>Phleb-Lymphödeme</li>
                    </ul>
                </div>
            </div>
            <!--<div class="therapien-slide therapien-div-bg2">

            </div>
            <div class="therapien-slide therapien-div-bg3">

            </div>
            <div class="therapien-slide therapien-div-bg4">

            </div>-->
            <a class="prevSlide">&#10094;</a>
            <a class="nextSlide">&#10095;</a>
        </div>
    </div>
    <div class="therapien-list-container">
        <div class="therapien-list">
            <div class="therapien-list-div">Manuelle Therapie</div>
            <div class="therapien-list-div">Kranken&#8203;gymnastik</div>
            <div class="therapien-list-div">PNF</div>
            <div class="therapien-list-div">Sport&#8203;physiotherapie</div>
        </div>
        <div class="therapien-list">
            <div class="therapien-list-div">Wärme- / Kältetherapie</div>
            <div class="therapien-list-div">Medizinisches Flossing</div>
            <div class="therapien-list-div">Manuelle Lymphdrainage</div>
            <div class="therapien-list-div">Dynamische Kompressions&#8203;therapie</div>
        </div>
        <div class="therapien-list">
            <div class="therapien-list-div">Elektrotherapie</div>
            <div class="therapien-list-div">Kinesio-Taping</div>
            <div class="therapien-list-div">Krankengymnastik am Gerat</div>
            <div class="therapien-list-div">Sonstiges</div>
        </div>
    </div>
    <!--<div class="therapien-grid-container">
        <div class="therapien-grid">
            <div class="therapien-row">
                <div class="therapien-div therapien-div-bg1">
                    <h3>Krankengymnastik</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg1">
                        <button class="close-info">X</button>
                        <h3>Krankengymnastik</h3>
                        <p>Die Krankengymnastik umfasst eine große Auswahl einzelner therapeutischer Maßnahmen zur Erhaltung und Verbesserung von Kraft, Ausdauer und Koordination.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg2">
                    <h3>Manuelle Therapie</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg2">
                        <button class="close-info">X</button>
                        <h3>Manuelle Therapie</h3>
                        <p>Während es bei der Krankengymnastik bereits um die gezielte Bewegungsförderung und Kräftigung geht, setzt die manuelle Therapie einen Schritt zuvor an, nämlich bei der Ursache des Schmerzes und der Bewegungseinschränkung.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg3">
                    <h3>Kiefergelenksbehandlung</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg3">
                        <button class="close-info">X</button>
                        <h3>Kiefergelenksbehandlung</h3>
                        <p>Kraniomandibuläre Dysfunktion (CMD) ist ein Überbegriff für strukturelle, funktionelle und psychische Fehlregulationen der Muskel- oder Gelenkfunktion der Kiefergelenke.</p>
                    </div>
                </div>
            </div>
            <div  class="therapien-row">
                <div class="therapien-div therapien-div-bg4">
                    <h3>Kinesio / Medical Taping</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg4">
                        <button class="close-info">X</button>
                        <h3>Kinesio / Medical Taping</h3>
                        <p>Die Behandlung erfolgt durch das Aufbringen von etwa fünf Zentimeter breiten, elastischen Klebebändern auf Baumwollbasis direkt auf die Haut.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg5">
                    <h3>Hot Stone Massage</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg5">
                        <button class="close-info">X</button>
                        <h3>Hot Stone Massage</h3>
                        <p>Die Hot Stone Massage ist eine Massageform in Kombination mit aufgeheizten Steinen, meist aus Basalt, die auf den Körper gelegt werden.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg1">
                    <h3>Osteopathie</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg1">
                        <button class="close-info">X</button>
                        <h3>Osteopathie</h3>
                        <p>Bei Behandlungen nach osteopathischem Konzept werden Krankheiten und Spannungen mit den Fingern ertastet und behandelt. Einziges Behandlungsinstrument des Therapeuten sind seine Hände - keine Medikamente, keine Geräte und kein Skalpell.</p>
                    </div>
                </div>
            </div>
            <div  class="therapien-row">
                <div class="therapien-div therapien-div-bg2">
                    <h3>Lymphdrainage</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg2">
                        <button class="close-info">X</button>
                        <h3>Lymphdrainage</h3>
                        <p>Die manuelle Lymphdrainage ist eine Form der physikalischen Therapien. Ihre Anwendungsgebiete sind breit gefächert.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg3">
                    <h3>PNF</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg3">
                        <button class="close-info">X</button>
                        <h3>PNF</h3>
                        <p>Propriozeptoren sind Rezeptoren / Sensoren in Muskeln, Gelenken, und Sehnen für die Tiefensensibilität, die Informationen über die Haltung und Bewegung des Körpers an das Zentrale Nervensystem weiterleiten.</p>
                    </div>
                </div>
                <div class="therapien-div therapien-div-bg4">
                    <h3>Bobath</h3>
                    <button class="open-info">Mehr erfahren</button>
                    <div class="therapien-info therapien-div-bg4">
                        <button class="close-info">X</button>
                        <h3>Bobath</h3>
                        <p>Das Bobath-Konzept ist ein Pflege- und Therapiekonzept für Patienten mit Lähmungen durch Krankheiten des zentralen Nervensystems.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
