<div id="therapien">
    <h2>Therapien</h2>
    <div class="therapien-grid-container">
        <div class="therapien-grid">
            <div  class="therapien-row">
                <div class="therapien-div">
                    <h3>Krankengymnastik</h3>
                </div>
                <div class="therapien-div">
                    <h3>Manuelle Therapie</h3>
                </div>
                <div class="therapien-div">
                    <h3>Kiefergelenksbehandlung</h3>
                </div>
            </div>
            <div  class="therapien-row">
                <div class="therapien-div">
                    <h3>Kinesio / Medical Taping</h3>
                </div>
                <div class="therapien-div">
                    <h3>Hot Stone Massage</h3>
                </div>
                <div class="therapien-div">
                    <h3>Osteopathie</h3>
                </div>
            </div>
            <div  class="therapien-row">
                <div class="therapien-div">
                    <h3>Lymphdrainage</h3>
                </div>
                <div class="therapien-div">
                    <h3>PNF</h3>
                </div>
                <div class="therapien-div">
                    <h3>Bobath</h3>
                </div>
            </div>
        </div>
    </div>
</div>
