<div id="welcome">
    <h2>Physiotherapie bei BewegungsWerk</h2>
    <p>Sie erwartet ein Team erfahrener Therapeuten, die im klinischen Betrieb genauso erfahren sind, wie in der Praxis. Alles, was wir in diesen Bereichen an Erfahrungen gesammelt haben, bildet die praktische Grundlage unserer therapeutischen Arbeit und steht damit unseren Patienten zur Verfügung.<br><br>Die Praxis befindet sich über den Dächern Harburgs mit Blick in Richtung Binnenhafen. Die Räumlichkeiten wurden modern renoviert und laden zur Rehabilitation geradezu ein. Die Ausstattung der Praxis zeichnet sich durch neue Geräte und Therapiehilfen auf dem aktuellsten Stand aus. Separate Räume, die mit viel Liebe zum Detail eingerichtet worden sind, bieten eine entspannte Atmosphäre für Ihren Heilungsprozess.</p>
    <button href="#kontakt">Jetzt einen Termin vereinbaren</button>
</div>
