<div id="welcome">
    <h2>Physiotherapie bei BewegungsWerk Berlin</h2>
    <p>In unserem Bewegungswerk erwartet Sie ein Team junger Therapeuten, die sowohl im Praxisbetrieb als auch in der Betreuung von Sportmannschaften und Einzelsportlern sehr erfahren und kompetent ist. Alles, was wir in diesen Bereichen an Erfahrungen gesammelt haben, bildet die praktische Grundlage unserer therapeutischen Arbeit und steht damit unseren Patienten zur Verfügung. Durch Fortbildungen in unterschiedlichen Bereichen sind wir immer auf dem neusten Stand was Therapie und Rehabilitation betrifft.<br><br>Darüber hinaus  verfügen wir über ein großes Netzwerk von Ärzten und Spezialisten in Berlin, um die unterschiedlichsten Beschwerden oder Verletzungen bestmöglich und schnell versorgen zu können.<br><br>Wir freuen uns auf Sie.</p>
    <button class="termin-button">Jetzt einen Termin vereinbaren</button>
</div>
