.header-logo
    height: 80px
    width: 175px
    margin-left: 20px
    position: fixed
    z-index: 3
    border-bottom-right-radius: 8px
    border-bottom-left-radius: 8px
    background: #293133
    overflow: hidden
    svg
        width: 230px
.header-logo:hover
    cursor: pointer
.header-bar
    height: 40px
    width: 100%
    position: fixed
    z-index: 2
    text-align: center
    line-height: 40px
    vertical-align: middle
    font-size: 22px
    background: black
    a
        color: white
        transition: all 0.3s ease-in-out
    .phone-icon
        height: 17px
        width: 17px
        margin-right: 8px
    a:hover
        color: #bfbfbf
        cursor: pointer
.facebook-link
    position: fixed
    z-index: 3
    top: 0
    right: 0
    margin: 4px 40px 0 0
    svg
        height: 30px
        width: 30px
        transition: all 0.3s ease-in-out
        path
            fill: white
            transition: all 0.3s ease-in-out
.facebook-link:hover
    cursor: pointer
    svg
        background: white
    path
        fill: #3A559F
@media (max-width: 650px)
    .header-logo
        height: 60px
        width: 130px
        margin-left: 0px
        border-bottom-left-radius: 0px
        svg
            width: 180px
            margin: -42px 0 0 -2px
    .header-bar
        height: 30px
        line-height: 30px
        font-size: 18px
        .phone-icon
            height: 14px
            width: 14px
            margin-right: 8px
    .facebook-link
        margin: 3px 30px 0 0
        svg
            height: 23px
            width: 23px
@media (max-width: 450px)
    .header-logo
        height: 50px
        width: 80px
        margin-left: 0px
        border-bottom-left-radius: 0px
        svg
            width: 110px
            margin: -94px 0 0 -1px
    .header-bar
        height: 25px
        line-height: 25px
        font-size: 16px
        .phone-icon
            height: 12px
            width: 12px
            margin-right: 5px
    .facebook-link
        margin: 2px 15px 0 0
        svg
            height: 20px
            width: 20px
