header
    height: 45px
    width: 100%
    background: black
    position: fixed
    z-index: 3
    a
        padding: 10px 0 0 15px
        color: white
        float: left
        font-size: 20px
        transition: all 0.3s ease-in-out
    a.facebook-link
        margin: 7px 30px 0 0
        padding: 0
        float: right
        svg
            height: 28px
            width: 28px
            transition: all 0.3s ease-in-out
            path
                fill: white
                transition: all 0.3s ease-in-out
        svg:hover
            cursor: pointer
            path
                fill: #3A559F
                cursor: pointer
    a.header-number
        padding: 10px 15px 0 0
        float: right
        svg
            height: 18px
            width: 18px
            float: left
            margin: 3px 10px 0 0
            path
                transition: all 0.3s ease-in-out
    a.header-number:hover
        svg
            path
                fill: #b3b3b3
    a:hover
        color: #b3b3b3
        cursor: pointer
@media (max-width: 500px)
    header
        height: 30px
        a
            padding: 7px 0 0 10px
            font-size: 15px
        a.facebook-link
            margin: 5px 15px 0 0
            svg
                height: 20px
                width: 20px
        a.header-number
            padding: 7px 10px 0 0
            svg
                height: 12px
                width: 12px
                margin: 3px 7px 0 0

.hero
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 75vh
    min-height: 450px
    width: 100%
    background-color: black
    .background
        position: absolute
        display: none
        height: 75vh
        min-height: 450px
        width: 100%
        background-size: cover
    .bg-1
        background:
            //image: url(../img/hero/biker.jpeg)
            color: red
            position: center
            size: cover
    .bg-2
        background:
            //image: url(../img/hero/dancers.jpeg)
            color: blue
            position: center
            size: cover
    .bg-3
        background:
            //image: url(../img/hero/boxer.jpeg)
            color: white
            position: center
            size: cover
    .arrow
        display: none
        position: absolute
        z-index: 1
        margin-top: 30vh
        margin-left: -15px
        .arrow-border
            position: absolute
            width: 30px
            height: 30px
            border-left: 2px solid white
            border-bottom: 2px solid white
            transform: rotate(-45deg)
    @media (max-width: 500px)
        .arrow
            display: block

nav
    height: 60px
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    background: black
    a
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 200px
        font-size: 15px
        color: white
        border-right: 1px solid #2B292E
        border-left: 1px solid #2B292E
        transition: all 0.3s ease-in-out
    a:hover
        background: #1a1a1a
@media (max-width: 500px)
    nav
        display: none
