.hero
    display: flex
    flex-direction: column
    align-items: center
    height: 75vh
    min-height: 450px
    width: 100%
    background-color: black
    .background
        position: absolute
        display: none
        height: 75vh
        min-height: 450px
        width: 100%
        background-size: contain
    .bg-3
        background:
            image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.98)), url(../img/bewegungswerkphotos/2018-02-19-PHOTO-00000129.jpg)
            position: 0% 30%
            size: cover
            background-repeat: no-repeat
    .bg-2
        background:
            image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.98)), url(../img/bewegungswerkphotos/2018-02-19-PHOTO-00000132.jpg)
            position: center
            size: cover
            background-repeat: no-repeat
    .bg-1
        background:
            image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.98)), url(../img/bewegungswerkphotos/2018-02-19-PHOTO-00000124.jpg)
            position: center
            size: cover
            background-repeat: none
    .logo
        height: 75vh
        min-height: 450px
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        svg
            display: none
            position: relative
            z-index: 1
            width: 90vw
            height: auto
            max-width: 450px
    .hero-arrow
        display: none
        position: relative
        z-index: 1
        margin-top: -25px
        margin-left: -32px
        .arrow-border
            position: absolute
            width: 30px
            height: 30px
            border-left: 2px solid white
            border-bottom: 2px solid white
            transform: rotate(-45deg)
    @media (max-width: 500px)
        .hero-arrow
            display: block

nav
    height: 60px
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    background: black
    a
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 200px
        font-size: 15px
        color: white
        border-right: 1px solid #2B292E
        border-left: 1px solid #2B292E
        transition: all 0.3s ease-in-out
    a:hover
        background: #1a1a1a
    @media (max-width: 650px)
        a
            font-size: 13px
@media (max-width: 500px)
    nav
        display: none
